<html>
    <head>
        <title>Photo App</title>
    </head>
    <body>
        <h1><a href="">photo list page</a></h1>
        <section>
            <div>
                <h2>
                    <a href="">blue hill</a>
                </h2>
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MjNfMTIg/MDAxNTU2MDA5MDc2NTQ2.ZcPvCANEjjEP0qyjGpSOMXXzoXPyzEbHZVMstAZ0nasg.hjJwdbtomjCPCFsAiSJ5XfQ71Lzbs7w2sOfegajTmDsg.JPEG.lucomsfam/bdfb6cb8608e484dbc3.jpg?type=w800"
                alt="green hill"
                width="300"/>
                <p>microsoft, 1000$</p>
            </div>
            <div>
                <h2>
                    <a href="">blue hill</a>
                </h2>
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MjNfMTIg/MDAxNTU2MDA5MDc2NTQ2.ZcPvCANEjjEP0qyjGpSOMXXzoXPyzEbHZVMstAZ0nasg.hjJwdbtomjCPCFsAiSJ5XfQ71Lzbs7w2sOfegajTmDsg.JPEG.lucomsfam/bdfb6cb8608e484dbc3.jpg?type=w800"
                alt="green hill"
                width="300"/>
                <p>microsoft, 1000$</p>
            </div>
        </section>
    </body>
</html>