<html>
  <head>
    <title>TODO list app</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>TODO list app</h1>
      <p>
        <a href="{% url 'todo_post' %}"><i class="bi-plus"></i>Add Todo</a>
        <a
          href="{% url 'done_list' %}"
          class="btn btn-primary"
          style="float: right"
          >completed TODO list</a
        >
      </p>
      <ul class="list-group">
        {% for todo in todos%}
        <li class="list-group-item">
          <a href="{% url 'todo_detail' pk=todo.pk %}">{{todo.title}}</a>
          {% if todo.important %}
          <span class="badge badge-danger">!</span>
          {% endif %}
          <div style="float: right">
            <a href="{% url 'todo_done' pk=todo.pk %}" class="btn btn-dabger"
              >completed</a
            >
            <a
              href="{% url 'todo_edit' pk=todo.pk %}"
              class="btn btn-outline-primary"
              >revise</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
