<div class="post-heading">
    <h1><<%= aPost.title %></h1>
    <h2 class="subheading"><%= aPost.body %></h2>
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justigy-content-center">
                <%= aPost.body %>
            </div>
        </div>
    </article>
</div>