<form action="/users/store" id="newPostForm" method="post" enctype="multipart/form-data">
    <div class="form-floating">
        <input class="form-contorl" name="username" id="username">
        <input class="form-contorl" name="password" id="password">
    </div>
</form>